<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <title>Drag and Drop Lists</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="demo-framework-styles.css" />
  <link rel="stylesheet" href="nested-list-styles.css" />
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="angular-drag-and-drop-lists.js"></script>
  <script src="app.js"></script>

  <!-- Markup for lists inside the dropzone. It's inside a seperate template
       because it will be used recursively. The dnd-list directive enables
       to drop elements into the referenced array. The dnd-draggable directive
       makes an element draggable and will transfer the object that was
       assigned to it. If an element was dragged away, you have to remove
       it from the original list yourself using the dnd-moved attribute -->
  <!-- M2: added disable test linked to checkbox & model -->
  <script type="text/ng-template" id="list.html">
    <ul dnd-list="list">
      <li ng-repeat="item in list"
          dnd-draggable="item"
          dnd-effect-allowed="move"
          dnd-disable-if="dndctrl.models.enabled === false"
          dnd-moved="list.splice($index, 1)"
          dnd-selected="dndctrl.models.selected = item"
          ng-class="{'selected': dndctrl.models.selected === item, 'not-draggable': dndctrl.models.enabled === false}"
          ng-include="item.type + '.html'">
      </li>
    </ul>
  </script>

  <!-- This template is responsible for rendering a container element. It uses
       the above list template to render each container column -->
  <script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue">
      <h3><span class="glyphicon glyphicon-folder-open"></span> Container {{item.id}}</h3>
      <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
      <div class="clearfix"></div>
    </div>
  </script>

  <!-- Template for a normal list item -->
  <script type="text/ng-template" id="item.html">
    <div class="item"><span class="glyphicon glyphicon-asterisk"></span> Item {{item.id}}</div>
  </script>

</head>

<body class="container">
<header>
  <h1>Drag and Drop Lists</h1>
  <p>
    Drag and Drop experiment using the
    <a href="https://github.com/marceljuenemann/angular-drag-and-drop-lists" target="_blank">Angular Drag and Drop Lists</a> module.
    It has a swell <a href="http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/#/nested" target="_blank">Demo page</a>.
    This example is pretty close to Marcel's original, so that I could get a better understanding of his library. I didn't add the
    <a href="https://github.com/timruffles/ios-html5-drag-drop-shim" target="_blank">HTML5 Shim</a> for drag and drop on
    touch devices, so this won't work on your iPad.
  </p>
  <p>
    My changes include reworking the example to use the "controller as" syntax and follow the
    <a href="https://github.com/johnpapa/angular-styleguide" target="_blank">Angular style guide</a>,
    revising the <a href="http://getbootstrap.com/css/#grid" target="_blank">Bootstrap</a> layout to better support
    slimmer viewports, adding "move" cursors when drag and drop is enabled, tweaking the draggable new elements in the
    toolbox, and adding icons just for grins. I also added the on/off checkbox and tied this into the various
    components' behavior and styles. &mdash; M2
  </p>
</header>

<div ng-controller="NestedListsDemoController as dndctrl" class="nestedDemo">
  <section class="row">

   <!-- Main area with dropzones and source code -->
    <div class="col-sm-10">
      <div class="row">
        <div ng-repeat="(zone, list) in dndctrl.models.dropzones" class="col-sm-6">
          <div class="dropzone box box-yellow">
            <!-- The dropzone also uses the list template -->
            <h3><span class="glyphicon glyphicon-circle-arrow-down"></span> Dropzone {{zone}}</h3>
            <div ng-include="'list.html'"></div>
          </div>
        </div>
      </div>

      <div view-source="nested" highlight-lines="{markup: '1-18, 20-28, 40-42, 57-68, 78-82'}"></div>

    </div>

    <!-- Sidebar -->
    <div class="col-sm-2">

      <div class="box box-grey box-padding">
        <h3>On/Off</h3>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="dndctrl.models.enabled"> Drag Enabled
          </label>
        </div>
      </div>

      <div class="toolbox box box-grey box-padding">
        <h3>New Elements</h3>
        <ul>
          <!-- The toolbox only allows to copy objects, not move it. After a new
               element was created, dnd-copied is invoked and we generate the next id -->
          <li ng-repeat="item in dndctrl.models.templates"
              dnd-draggable="item"
              dnd-effect-allowed="copy"
              dnd-disable-if="dndctrl.models.enabled === false"
              ng-class="{'not-draggable': dndctrl.models.enabled === false}"
              dnd-copied="item.id = item.id + 1">
            <div class="btn btn-default btn-block disabled"><span class="glyphicon glyphicon-plus"></span>
              {{item.type}}</div>
          </li>
        </ul>
      </div>

      <div ng-if="dndctrl.models.selected" class="box box-grey box-padding">
        <h3>Selected</h3>
        <strong>Type: </strong> {{dndctrl.models.selected.type}}<br>
        <input type="text" ng-model="dndctrl.models.selected.id" class="form-control" style="margin-top: 5px" />
      </div>

      <div class="trashcan box box-grey box-padding">
        <!-- If you use [] as referenced list, the dropped elements will be lost -->
        <h3>Trashcan</h3>
        <ul dnd-list="[]">
          <li ng-class="{'not-draggable': dndctrl.models.enabled === false}">
            <span class="glyphicon glyphicon-trash"></span>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <section class="row">
    <div class="col-sm-12">
      <h2>Generated Model</h2>
      <pre>{{dndctrl.modelAsJson}}</pre>
    </div>
  </section>

</div>
</body>

</html>
